#body {
    background: url(http://7-themes.com/data_images/out/67/7002156-mortal-kombat-logo.jpg);
    background-size: cover;
    background-position: center;
}

h1 { text-align: center;}

.green { color: #00FF00; }

.left {
  float: left;
}

.center { text-align: center; }

.avatar {
  border-radius: 100%;
  margin-left: 25%;
  margin-top: 10%;
  height: 120px;
  width: 120px;
}

.fight-box {
  width: 350px;
  height: 300px;
  color: white;
  background-color: silver;
  border: solid 1px black;
  cursor: pointer;
  background: url(https://i.ytimg.com/vi/EAwWPadFsOA/maxresdefault.jpg);
  background-size: cover;
  background-position: center;
}

#fight_zone {
  margin-left: 14%;
}

#loading_zone {
  color: white;
  font-style: bolder;
  border: solid 1px black;
  min-height: 100px;
  width: 350px;
  cursor: pointer;
  background: url(https://wallpaper-house.com/data/out/8/wallpaper2you_260485.jpg);

  background-size: cover;
  background-position: center;  
}

